# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go build output
*.test
*.out
*.log

# Output of go build / install
bin/
build/

# Go coverage files
*.cover
*.coverprofile

# Go cache
*.cache
go.sum

# JetBrains GoLand project files
.idea/
*.iml

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Temporary files
*~
*.swp
*.tmp
